python_version<3.13
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
flatlib==0.2.3
fonttools==4.58.4
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
pandas==2.3.0
pillow==11.2.1
pycparser==2.22
pydyf==0.11.0
pypdf==5.6.1
pyphen==0.17.2
pyswisseph==2.8.0.post1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
